.marketTitleRow {
    font-size: 20px;
    display: flex;
    margin-bottom: 24px;
    &>.marketDetail {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        flex: 1;
    }
}

.marketBody {
    padding: 24px;
    background-color: white;
}