.wxYaoContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.wxYaoBody {
    background-color: white;
    padding: 24px;
}

.wxYaoTitle {
    display: flex;
    flex-direction: column;
}

.wxYaolink {
    margin-left: 24px;
}

.wxYaoTitleArea {
    display: flex;
    flex: 1;
    align-items: center;
}